
<br>


<!-- 
<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-12 mt-3">
            <div class="chart-wrapper" >
                <canvas baseChart 
                    [datasets]="lineChartData" 
                    [labels]="lineChartLabels" 
                    [options]="lineChartOptions"
                    [colors]="lineChartColors" 
                    [legend]="lineChartLegend" 
                    [chartType]="lineChartType" 
                    [plugins]="lineChartPlugins">
                </canvas>
            </div> <br>
            <div class="row">
              <h2 class="social">Social Media Progress</h2>
              <div class="col-lg-4 col-md-4 col-sm-12 mt-2 bar" style="width: 90%; border-radius: 0;">
                  <h2 class="text-danger fw-bold">50%</h2>
                  <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
                  <h3 class="text-secondary">Incoming Target</h3>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 mt-2 bar" style="width: 90%; border-radius: 0;">
                  <h2 class="text-success fw-bold">30%</h2>
                  <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
                  <h3 class="text-secondary">Incoming Target</h3>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 mt-2 bar" style="width: 90%; border-radius: 0;">
                  <h2 class="text-info fw-bold">70%</h2>
                  <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
                  <h3 class="text-secondary">Incoming Target</h3>
              </div>
          </div>
        </div>
        <div class="col-md-3 mt-3">
          <div _ngcontent-rff-c27="" class="card p-2">
            <div _ngcontent-rff-c27="" class="card-header border-3">
              <div _ngcontent-rff-c27="" class="row align-items-center">
                <div _ngcontent-rff-c27="" class="col">
                  <h3 _ngcontent-rff-c27="" class="mb-0">Publisher requests</h3>
                </div>
                <div _ngcontent-rff-c27="" class="col text-right">
                  <a _ngcontent-rff-c27="" href="#!" class="btn btn-sm btn-primary shadow-lg">See all</a>
                </div>
              </div>
            </div>
            <div _ngcontent-rff-c27="" class="mt-2">
              <img _ngcontent-rff-c27="" src="../assets/img/brand/favicon.png" alt="" class="img-fluid"><span _ngcontent-rff-c27="" class="float-right"><mat-icon class="float-end">visibility</mat-icon></span> &nbsp;&nbsp;<span _ngcontent-rff-c27=""> hero <br _ngcontent-rff-c27=""><p _ngcontent-rff-c27="">09 sep 2021</p></span>
            </div>
            <div _ngcontent-rff-c27="">
              <img _ngcontent-rff-c27="" src="../assets/img/brand/favicon.png" alt="" class="img-fluid"><span _ngcontent-rff-c27="" class="float-right"><mat-icon class="float-end">visibility</mat-icon></span> &nbsp;&nbsp;<span _ngcontent-rff-c27=""> hero <br _ngcontent-rff-c27=""><p _ngcontent-rff-c27="">02 Oct 2021</p></span>
            </div>
            <div _ngcontent-rff-c27=""><img _ngcontent-rff-c27="" src="../assets/img/brand/favicon.png" alt="" class="img-fluid"><span _ngcontent-rff-c27="" class="float-right"><mat-icon class="float-end">visibility</mat-icon></span> &nbsp;&nbsp;<span _ngcontent-rff-c27=""> hero <br _ngcontent-rff-c27=""><p _ngcontent-rff-c27="">23 Oct 2021</p></span>
            </div>
            <div _ngcontent-rff-c27=""><img _ngcontent-rff-c27="" src="../assets/img/brand/favicon.png" alt="" class="img-fluid"><span _ngcontent-rff-c27="" class="float-right"><mat-icon class="float-end">visibility</mat-icon></span> &nbsp;&nbsp;<span _ngcontent-rff-c27=""> hero <br _ngcontent-rff-c27=""><p _ngcontent-rff-c27="">07 Nov 2021</p></span>
            </div>
            <div _ngcontent-rff-c27=""><img _ngcontent-rff-c27="" src="../assets/img/brand/favicon.png" alt="" class="img-fluid"><span _ngcontent-rff-c27="" class="float-right"><mat-icon class="float-end">visibility</mat-icon></span> &nbsp;&nbsp;<span _ngcontent-rff-c27=""> hero <br _ngcontent-rff-c27=""><p _ngcontent-rff-c27="">15 Nov 2021</p></span>
            </div>
            <div _ngcontent-rff-c27=""><img _ngcontent-rff-c27="" src="../assets/img/brand/favicon.png" alt="" class="img-fluid"><span _ngcontent-rff-c27="" class="float-right"><mat-icon class="float-end">visibility</mat-icon></span> &nbsp;&nbsp;<span _ngcontent-rff-c27=""> hero <br _ngcontent-rff-c27=""><p _ngcontent-rff-c27="">10 Dec 2021</p></span>
            </div>
          </div><br>

            <div class="chart-wrapper chart-three" >
                <canvas baseChart 
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType">
              </canvas>
            </div>


        </div>
    </div>
</div>
 -->

<br>


