/* Structure */
table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.bg-user{
  background-color: orange;
}
h2{
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
  color: #696969;
}