
  
  
  <div class="container mt-3">
    <h2 class="text-center">Add Location</h2>
  <!-- <div class="link-btn-div form p-3">
    <button type="button" class="btn btn-info text-white p-2 link-btn">All users</button>&nbsp;
    <button type="button" class="btn btn-danger text-white p-2 link-btn">Blocked users</button>&nbsp;
    <button type="button" class="btn btn-warning text-white p-2 link-btn">Report users</button>
  </div> -->
  </div>

  
  <br />
  <mat-progress-spinner mode="indeterminate" *ngIf="showSpinner" style="margin-left: 50%;">
  </mat-progress-spinner>
  <div class="container">
    <form [formGroup]="reactiveForm"  *ngIf="!showSpinner" #form="ngForm" class="form p-4">
      <div class="row">
        <div class="col-md-6">
          
          <!-- First column This is name  -->
          <label for="name" class="form-label">Location Name:</label>
          <input [ngModel]="ManageLocation.title" type="text" id="name" name="name" formControlName="name" placeholder="Location name" required minlength="1" maxlength="250" class="form-control form-control-sm p-2" [class.is-invalid]="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
            <div *ngIf="name.errors?.['required']">
              This field is required.
            </div>
            <div *ngIf="name.errors?.['minlength']">
              This field must have at least 1 character.
            </div>
            <div *ngIf="name.errors?.['maxlength']">
              This field must have at most 250 characters.
            </div>
          </div>
        </div>
  
        <!-- second colum This is descriptions please carefully binding name is nickname not a description   -->
        <div class="col-md-6">
          <label for="nickname" class="form-label">Description:</label>
          <input [ngModel]="ManageLocation.description" type="text" id="nickname" name="nickname" formControlName="nickname" placeholder="Description" maxlength="100000" class="form-control form-control-sm p-2" [class.is-invalid]="nickname.invalid && (nickname.dirty || nickname.touched)">
          <div *ngIf="nickname.invalid && (nickname.dirty || nickname.touched)" class="invalid-feedback">
            <div *ngIf="nickname.errors?.['maxlength']">
              This field must have at most 10 characters.
            </div>
            <div *ngIf="name.errors?.['maxlength']">
              This field must have at most 250 characters.
            </div>
          </div>
        </div>

           <!-- fouth colum This is price -->
           <div class="col-md-6 mt-2">
            <label for="price" class="form-label">History</label>
            <input [ngModel]="ManageLocation.history" class="form-control form-control-sm p-2" type="text" id="history" name="history" formControlName="history" placeholder="History" required minlength="1">
        
          </div>
  
          <div class="col-md-6 mt-2">
            <label for="price" class="form-label">Type</label>
            <input [ngModel]="ManageLocation.history" class="form-control form-control-sm p-2" type="text" id="type" name="type" formControlName="type" placeholder="Type" required minlength="1">
        
          </div>
        <!-- third colum This is product image  -->
        <div class="col-md-12 mt-2">
         <div>
            <div style="display: flex;gap: 2;" formArrayName="images">
              <div  style="display: flex;gap: 2;margin-right: 2px;" *ngFor="let image of images.controls; let i = index">
                <div   class="mr-2" style="display: flex;flex-direction: column;"> 
                <img [src]="image.value" style="width: 100px; height: 100px;">
                <button  class="btn btn-sm text-white btn-danger" (click)="deleteImage(i)">Delete</button>
              </div>
              </div>
            </div>
            <br>
            <input  class="mt-1"  type="file" accept=".png,.jpeg,.jpg,.webp" (change)="addImage($event)">
          </div>
        </div>

     
        <!-- fouth colum This is location -->
        <div class="col-md-12 mt-4 mb-3">
          <div class="col-md-12" style="display: flex; justify-content: space-around;align-items: center;" >
          <div class="col-md-3">
          <label for="location" class="form-label">Latitude</label>
          <input [ngModel]="ManageLocation.location" type="number" id="location" name="location" formControlName="lat" placeholder="Latitude"   min="-180" max="180"  minlength="1" maxlength="250" class="form-control form-control-sm p-2" >
        </div>
        <div class="col-md-3">
          <label for="location" class="form-label">Longitude</label>
          <input [ngModel]="ManageLocation.location" type="number" id="location" name="location" formControlName="log" placeholder="Longitude" min="-180" max="180"  minlength="1" maxlength="250" class="form-control form-control-sm p-2">
        </div>
      </div>
        </div>

        
        <!-- fouth colum This is rating -->
        <div style="display: flex; justify-content: center;align-items: center;" class="col-md-12 mt-2 text-center">
         
          <label for="rating" class="form-label">Rating</label>
          <div>
          <ngx-star-rating [id]="'rating1'" formControlName="rating" [ngClass]="ManageLocation.rating" [class.is-invalid]="rating.invalid && (rating.dirty || rating.touched)" style="width: 20px;"></ngx-star-rating>
        </div>
          <!-- <input [ngModel]="ManageLocation.rating" type="text" id="rating" name="rating" formControlName="rating" placeholder="Your rating" required minlength="1" maxlength="250" class="form-control form-control-sm p-2" > -->
          <!-- <div *ngIf="rating.invalid && (rating.dirty || rating.touched)" class="invalid-feedback">
            <div *ngIf="rating.errors?.['required']">
              This field is required.
            </div>
          </div> -->
        
        </div>


          <!-- fouth colum This is location -->
          <div class="col-md-12 mt-2" formArrayName="hotels">
             <div class="col-md-12" *ngFor="let hotel of hotels.controls; index as i">
          <div class="form p-4 row"  [formGroupName]="i" >
              <div class="col-md-12">
                <p>Hotel {{i+1}}</p>
              </div>
           
           
           <div class="col-md-6 mt-2" >
            <label  class="form-label">Hotel Title:</label>
            <input type="text" class="form-control form-control-sm p-2" formControlName="title" >
           </div>

           <div  class="col-md-6 mt-2">
            <label  class="form-label">Hotel Price:</label>
            <input type="number" class="form-control form-control-sm p-2" formControlName="price">
           </div>

           <div class="col-md-6 mt-2" >
            <label  class="form-label">Hotel Address:</label>
            <input type="text" class="form-control form-control-sm p-2" formControlName="address">
           </div>

           <div class="col-md-6 mt-2" >
            <label  class="form-label">Hotel Description:</label>
            <input type="text" class="form-control form-control-sm p-2" formControlName="description">
           </div>

           <div class="col-md-6 mt-2" >
            <label  class="form-label">Hotel image :</label>
            <!-- <input  class="mt-1" type="file"  (change)="addImage($event)"> -->
            <div style="display: flex;gap: 2;">
              <div  style="display: flex;gap: 2;margin-right: 2px;">
                <div   class="mr-2" style="display: flex;flex-direction: column;"> 
                  <div *ngIf="!image(i)?.value">
                  <input   class="mt-1"  type="file" accept=".png,.jpeg,.jpg,.webp" (change)="addHotelImage($event,i)">
                </div>
                  <div *ngIf="image(i)?.value">
                <img [src]="image(i)?.value" style="width: 100px; height: 100px;">
                <button  class="btn btn-sm text-white btn-danger" (click)="deleteHotelImage(i)">Delete</button>

              </div>
              </div>
              </div>
            </div>
            <br>
            
            <!-- <input type="file" accept=".png,.jpeg,.jpg,.webp" class="form-control form-control-sm p-2" formControlName="image"> -->
           </div>

           <div class="col-md-12">
            <button class="btn text-white btn-info mt-3" (click)="removeHotel(i)">Remove Hotel</button>
          </div>
          </div>
           <hr>
          </div>
          <div class="col-md-12">
            <button class="btn text-white btn-info mt-3" (click)="addHotel()">Add Hotel</button>
          </div>
          

          </div>

        <div class="d-flex rating-list align-items-center">
          <p class="w-50"></p>
          <div class="star w-50 rating-star">

          </div>
      </div>





      </div><!--row end-->
  
      <button type="button" class="btn text-white btn-info mt-3 " *ngIf="!isEdit" (click)="validate()">Add</button>
      <button type="button" class="btn text-white btn-info mt-3 " *ngIf="isEdit" (click)="edit()">Update</button>  
    </form>
  </div>
  
  