h2{
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    color: #696969;
}
.link-btn{
    border-radius: 30px;
}
.form{
    background-color: #e3e3e388;
}
input{
    border-radius: 0;   
}
.bg-user{
    background-color: orange;
}
